{% extends 'layout.html' %}

{% block title %}Blogum{% endblock %}


{% block body %}
{% load static %}

<!--CTA-->
<div class="container py-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
      <h1 class="display-4 font-weight-bold">My portfolio blog</h1>
      <h5>Code is love, code is life.</h5>
      <br>
      <h6>This site is created and deployed using django and bootstrap for Patika CodeJam 2021</h6>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <img class="img-fluid rounded" src="{% static 'img/upupandaway.jpg' %}" alt="Cat-yang">
    </div>
  </div>
</div>



{% endblock %}
