{% extends 'layout.html' %}

{% block title %}Youkoso{% endblock %}


{% block body %}
<h2>Projects list</h2>
<p><a href="https://gist.github.com/ttoygar/3cd1da51e4fe5550e0e81791a39ab335">İstanbul Halk Ekmek Büfelerinin ve Satış Noktalarının Harita Üzerine İşlenmesi</a></p>
<p><a href="https://github.com/ttoygar/meclis_genel_kurul_tutanaklari">TBMM Genel Kurul Tutanaklarının BeautifulSoup4 ile indirilmesi</a></p>
<p><a href="https://github.com/ttoygar/geocalc">geocalc</a></p>
<p><a href="https://github.com/ttoygar/scrap_wpost">scrap</a></p>
<p><a href="https://github.com/ttoygar/django_bando">django_bando</a></p>
<p><a href="https://github.com/ttoygar/blogum">blogum</a> </p>
{% endblock %}
