
{% block navbar %}
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm sticky-top navbar-light" style="background-color: #9ca2ad;">
      <a class="navbar-brand" href="/">T</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projeler' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

{% endblock %}